[build]
  base = "web"
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"


[[redirects]]
  from = "/netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 302

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
